* {box-sizing: border-box;}

body {
    background-color: navy;
    color: #fff;
    font-family: 'Carter One', cursive;
}

h1 {
    color: palegoldenrod;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 42px;
    margin: 15px;
    text-shadow: 0 0 12px #FF0000, 0 0 40px rgb(0, 255, 255);
}

h3 {
    font-family: 'Monoton', cursive;
    font-size: 32px;
    font-style: oblique;
    text-align: center;
    margin: 15px;
    text-shadow: 0 0 12px #FF0000, 0 0 40px rgb(0, 255, 255);
}

p {
    text-align: center;
    padding: 5px;
}

.game {
    margin-bottom: 40px;
}

img {
    border-style: groove;
    border-width: 2px;
    border-color: yellow;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55px;
    width: 50%;
}